.no-visible{
  display: none;
}

.removed{
  transition: all 0.5s ease-out;
  transform: scale(0,0);
}

#content{
    width: 100%;
}

.admin{
  display: block;
  width: 100%;
  height: 100%;
}

.btnQuit{
  background-color: rgb(242, 130, 115);
  display: inline-block;
  width: 5%;
  float: right;
}

.forms-novelties{
  display: inline-block;
  width: 70%;
  margin-left: 17%;
}


.create-options.initial{
  background-color: rgba(121, 226, 79, 0.7);
  display: inline-block;
  text-align: center;
  width: 100%;
  height: 80vh;
  margin-top: 2%;
}

.create-options.secondary{
  background-color: rgba(121, 226, 79, 0.7);
  display: inline-block;
  text-align: center;
  width: 100%;
}

    .create-options.initial .option{
      background-color: rgba(179, 179, 179, 0.77);
      border: solid 1px black;
      border-radius: 10px;
      display: inline-block;
      font-size: 80%;
      height: 50%;
      margin: 8px;
      margin-top: 10%;
      width: 20%;
    }

    .create-options .option{
      background-color: rgba(179, 179, 179, 0.77);
      border: solid 1px black;
      /* display: inline-block; */
      font-size: 80%;
      vertical-align: middle;
      /* height: 90%; */
      /* width: 20%; */
      margin: 8px;
    }
    .create-options .option:hover{
        background-color: rgba(17, 158, 27, 0.66);
        cursor: pointer;
    }

/*panel para editar noticia / premio*/
.edit-panel{
  border: solid 1px black;
  padding: 5px;
  border-radius: 12px;
  display: inline-block;
  position: fixed;
  width: 15%;
  vertical-align: top;
  text-align: -webkit-center;
}

.button-section{
  display: block;
}

    .edit-panel .option{
      display: inline-block;
      height: 10%;
      width: 20%;
    }

    .button-section.award .option.addCategory{
        display: block;
        width: 70%;
        text-align: center;
    }

    .button-section.award .attribute-option.nominee{
      width: 70%;
    }

          .button-section.award p{
              display: inline;
          }

          .button-section.award input{
              display: inline;
              width: 25%;
          }

.errorField{
  display: inline;
  background-color: rgba(233, 68, 63, 0.9);
}

.form.news .field.content{
  background-color: white;
  height: 70vh;
  overflow: scroll;
}

.form.award .field.content{
  min-height: 60vh;
  overflow:hidden;
}

.category{
  border: solid 1px black;
  padding: 2%;
  border-radius: 12px;
}

.category .attribute.name{
  display: inline;
}
.category .attribute.description{
  display: inline;
}

    .nominee .name{
        display: inline;
    }
    .nominee .description{
      display: inline;
    }
 }
