#content {
  display: grid;
  grid-template-columns: 22% 78%;
}

.pendientes h2 {
  font-size: 1.2em;
}

.pendientes h3{
  font-size: 1.1em;
  margin: 5px 0px 0px 5px;
}

.pendientes p {
  margin: 5px 5px;
}

#src-selector {
  height: 40px;
  font-size: 1em;
  border-radius: 10px 10px;
/*   margin: 2% 0%; */
  border: 2px solid #858785;
  background-color: white;
}

.editable{
  border-radius: 5px 5px;
  width: 100%;
  font-family: 'Pridi', serif;
  font-size: 14px;
}

.editable.trailer-url{
  height: 3.5vh;
  overflow-y: hidden;
}
.editable.genero{
  display: inline;
}

#btnBuscadorFilms{
  background-color:#9acd32;
  color: white;
  padding: 5px;
  height: 40px;
  border-radius: 10px;
  width: 10%;
  min-width: 70px;
  display: inline-block;
  font-size: 1em;
}

#buscadorFilms {
  padding-left: 10px;
  border-radius: 10px 10px;
  height: 40px;
}

.pendientes{
  display: inline-block;
/*   width: 100%; */
/*   padding: 2% 2%; */
  padding-left: 2%;
  padding-right: 6%;
  padding-bottom: 3%;
  background-color: rgba(0,0,0, 0.1);
}

.busqueda{
  display: inline-block;
  width: 99%;
  border: solid 1px black;
  background-color: #d5cbd5;
  border: 5px solid #ffffffa3;
  border-radius: 10px 10px;
  margin-top: 2%;
}

.info-busqueda p{
  margin: 2%;
  display: block;
}


.busqueda button{
  margin: 2% 2%;
  float: right;
/*   font-size: 0.8em; */
/*   height: 29px; */
/*   width: 90px; */
}

.busqueda button:hover::after {
  content: 'Borrar';
  padding-left: 3px;
}

.info-busqueda{
  display: inline-block;
  width: 50%;
}

.resolver-busqueda{
  display: inline-block;
  position: relative;
  float: right;
}

.removed {
  background-color: #5ce284;
  transition: all 0.5s ease-out;
  transform: translateX(-1000px);
  /* opacity: 0; */
}


/*---------------------------------RESULTADOS API Y BD LOCAL--------------------------------*/

.administrador-films{
  display: inline-block;
  /*! width: 80%; */
  height: 100%;
  /*! position: absolute; */
  /*! margin-top: 5%; */
  /*! padding: 0% 2%; */
  padding-left: 1%;
}

.administrador-films-barra-busqueda > div{
  display: inline-block;

}


.admin-resultados{
  display: inline-block;
  /*! overflow-x: visible; */
  height: 100%;
  width: 100%;
  overflow: hidden;
}

    .resultado-seleccionado{
      display: block;
      width: 82%;
      border: 5px solid #ffffffa3;
      /*! height: 40%; */
      background-color: #b5c4b5;
      border-radius: 10px 10px;
      margin: 0px;
    }

    .resultados-obtenidos{
        display: grid;
        grid-template-columns: repeat(4,200px);
        /*! margin: 3.9%; */
        grid-gap: 2%;
        width: 120%;
/*! overflow: auto; */
        margin-top: 20px;
    }

        .resultado-obtenido{
            display: inline-block;
            width: 200px;
            height: 300px;
            border: 5px solid black;
            background-color: none;
            margin-right: 4%;
            border-radius: 10px 10px;
        }

        .resultado-obtenido.interno{
          border-color: blue;
        }

        .resultado-obtenido.externo{
          border-color: orange;
        }

.resultado-obtenido .poster{
    display: inline-block;
    width: 200px;
    height: 300px;
    border-radius: 5px;

}


                .ini-fila{
                /*  background-color: red; /*para comprobar que funciona*/

                }

.admin-resultados .resultado-seleccionado .poster{
        display: inline-block;
        /* background-color: #90908e; */
        border-radius: 10px 10px;
        width: 30%;
        float: left;
        height: 100%;
}

.admin-resultados .resultado-seleccionado .poster img{
  display: inline-block;
  width: 90%;
  margin: 5%;
  border-radius: 10px 10px;
  background-color: #90908e;
  border: 5px solid #858785;
}


.admin-resultados .resultado-seleccionado .info{
    display: inline-block;
    width: 65%;
    padding: 1% 0% 0% 3%;
}

      .admin-resultados .resultado-seleccionado .info .campo{
          display: inline-block;
      }

.opciones{
    width: 100%;
    display: flex;
    margin-top: 4%;
}

.opciones button{
  width: 60%;
  margin: 0% 0% 0% 2%;
}

.editable.titulo, .editable.fecha-estreno, .editable.fecha-finalizacion, .editable.duracion-min, textarea, select, .resultado-seleccionado .info li{
  opacity: 1;
  background-color: yellowgreen;
}

.resultado-seleccionado ul {
  padding: 0px 0px;
  list-style: none;
}

.resultado-seleccionado ul li {
  display: inline-block;
  padding-top: 2px;
  padding-bottom: 2px;
  padding-left: 10px;
  /* Espacio para la cruz */
  padding-right: 10px;
  border: 2px solid #858785;
  border-radius: 15px;
  margin-left: 0px;
  margin-right: 10px;
  margin-top: 2px;
  margin-bottom: 2px;
}

.cruz {
  background: url("/images/x-mark.png");
  width: 16px;
  height: 16px;
  display: inline-flex; /* Para luego usar relative, top y left para que se autoajuste el tamanio del li */
  position: relative;
  background-size: contain; /* Magic trick */
  top: 4px;
  left: 5px;
/*   margin-top: 3px; */
/*   margin-left: 5px; */
  cursor: pointer;
}

.resultado-seleccionado .campo #generos {
  width: calc(100% - 90px);
}

#agregar-genero {
  width: auto;
}

.resultado-seleccionado .campo #paises {
/*   background-color: black; */
}

input#buscadorFilms  {
    width: 50%;
    height: 35px;
    font-size: 1em;
    /* height: 100%; */
    border-radius: 10px 10px;
    margin: 2% 0%;
    border: 2px solid #858785;
}

.button1 {
  background-color: white;
  color: black;
  border: 2px solid #858785;
  font-size: 16px;
  border-radius: 5px 5px;
  font-family: 'Pridi', serif;
}

.button1[disabled], .button1[disabled]:hover {
  background-color: #cccccc;
  color: #666666;
}

.boton-eliminar:hover {
  background-color: #e43532d1;
}

.boton-modificar:hover {
  background-color: #e4da32d1;
}

.boton-guardar:hover {
  background-color: #32e443d1;
}


.button1:hover {
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24);
/*   background-color: #b4dca8; */
}

/*the container must be positioned relative:*/
.custom-select {
  position: relative;
  font-family: 'Pridi', serif;
  width: 20%;
  height: 35px;
  pa-top: 2%;
  border-radius: 10px 10px;
  border: 2px solid #858785;
}

.custom-select select {
  display: none; /*hide original SELECT element:*/
}

.select-selected {
  border-radius: 10px 10px;
  background-color: #ffffff;

}

/*style the arrow inside the select element:*/
.select-selected:after {
  position: absolute;
  content: "";
  top: 16px;
  right: 10px;
  width: 0;
  height: 0;
  border: 6px solid transparent;
  border-color: #000 transparent transparent transparent;
}

/*point the arrow upwards when the select box is open (active):*/
.select-selected.select-arrow-active:after {
  border-color: transparent transparent #060606 transparent;
  top: 7px;
}

/*style the items (options), including the selected item:*/
.select-items div,.select-selected {
  color: black;
  padding: 8px 16px;
  border: 1px solid transparent;
  border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
  cursor: pointer;
  user-select: none;
}

/*style items (options):*/
.select-items {
  position: absolute;
  background-color: #cddacd;
  border-radius: 10px 10px;
  top: 100%;
  left: 0;
  right: 0;
  z-index: 99;
}

/*hide the items when the select box is closed:*/
.select-hide {
  display: none;
}

.select-items div:hover, .same-as-selected {
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 10px 10px;
}


.button-buscar{
  width: 14%;
  height: 48px;
  border-radius: 10px 10px;
}

.resultado-seleccionado-oculto {
  display: none;
}

#mensajes li {
  margin: 1% 6%;
  padding: 2%;
  border:2px solid azure;
  text-align: center;
  border-radius: 15px;
}

#mensajes li:hover {
    transform: scale(0.9);
/*   animation-duration: 2s; */
  transition: all 0.1s ease-out;
  opacity: 0.5;
}

.resultado-Ok {
  background-color: #5ce284;
}

.resultado-Failed {
  background-color: #a8325e;
}

.sin-resultados {
  color: white;
  background-color: rgba(200,50,50,1);
  display: block;
  position: relative;
  width: 84%;
  text-align: center;
  padding: 5px;
  /*! margin-left: 4%; */
  border-radius: 10px;
  /*! margin-top: 50px; */
}

.admin-resultados .resultado-seleccionado .poster .resultado-Failed p {
  background-color:#de351c;
}

.campo.titulo{
  width: 70%;
}
.campo.categoria{
  margin-left: 0.5%;
  width: 28%;
}
.campo.fecha-estreno{
  width: 30%;
}
.campo.fecha-finalizacion{
  width: 30%;
}

.campo.genero{
  width: 100%;
  margin-top: 3%;
  margin-bottom: 1%;
}
.campo.pais{
  width: 35%;
}
.campo.duracion_min{
  width: 25%;
}
.campo.trailer{
  width: 70%;
  vertical-align: top;
}
