@import url(https://fonts.googleapis.com/css?family=Nunito);

.no-visible{
  display: none;
}

#app, body{
  margin: 0px;
  width: 100%;
}

.nav-principal{
  width: 100%;
  height: 10%;
  margin-bottom: 2%;
  display: grid;
  grid-template-columns: 30% 40% 30%;
  text-align: -webkit-center;
  position: relative;
}

.navseccion{
  display: inline-block;
}

.navseccion.icono{
  width: 100%;
    text-align: left;
}

.navseccion.buscador{
  width: 100%;
  border-radius: 8px;
}

    .navseccion.buscador input{
      width: 80%;
    }

          .resultados-buscador{
            width: 33%;
            left: 33.5%;
            text-align: left;
            list-style-position: inside;
            background: darkgrey;
            margin-top: 0%;
            margin-bottom: 0%;
            position: absolute;
            list-style: none;
            padding: 0%;
          }

.navseccion.autenticacion{
  width: 100%;
  text-align: right;
}

.opciones-login{
    background-color:  darkgrey;
    list-style-position: inside;
    margin-top: 0px;
    position: absolute;
    right: 0%;
}

.opciones-guest{ /* opciones para el usuario que no esta logeado*/
    list-style-position: inside;
    margin-top: 0px;
}

.resultado{
  background-color: red;
  width: 30%;
  display: flex;
  float: right;
}




.menus{
  background-color: #AFB5F6;
  display: inline-block;
  width: 100%;
  height: 30%;
  padding: 5px;
  position: static;
}

.seccion-menu{
    display: inline-block;
    width: 15%;
    color: black;
    text-align: center;
    border-left: solid 2px;
    border-right: solid 2px;
    border-color: grey;
    margin-right: 0px;
}


.seccion-menu a{
  color: black;
}
