@import url(https://fonts.googleapis.com/css?family=Nunito);

.no-visible{
  display: none;
}

body {
  display: contents;
  background-color: #F6CAAC;
  font-family: 'Pridi', serif;
  margin: auto;
  width: auto;
}

.login-item {
  text-decoration: none;
  color: black;
}

.fontAwesome {
  font-family: 'Pridi', 'FontAwesome', sans-serif;
}

/* body {
  font-size: medium;
} */
@media (min-width: 700px) {

  .navseccion.buscador{
    width: auto;
    border-radius: 8px;
    margin-top: 3%;
    grid-area: a2;
    padding: 2%;
  }

  .navseccion.icono a{
    padding: 4% 0%;
    font-size: xx-large;
    white-space: wrap;
  }

  .navseccion.icono img {
    height: 4.8vw;
    width: auto;
  }

  body {font-size: large;}

  .nav-principal{
      grid-template-columns: 30% 1fr 30%;
      grid-template-areas: "a1 a2 a3";
  }

  .menus{
    display: flex;
  }

  .toggle-menu-hamburger {
    display: none;
   }

  .toggle-menu {
    display: inline-block;
    flex: 1 100%;
    background: #c9daf4;
    width: 100%;
  }

  .seccion-menu{
    height: 40px;
    min-width: 200px;
    color: black;
    text-align: center;
    padding-top: 0.5%;
    border-color: grey;
    border-radius: 2px 2px;
  }

  .seccion-menu path{
    padding: 2%;
  }
}

@media screen and (max-width: 700px) {

  body {font-size: larger;}

  .seccion-menu{
    width: 100%;
  }

  .nav-principal{
    grid-template-rows: 1fr 30%;
    grid-template-columns: 1fr 50%;
    grid-template-areas: "a1 a3"
                         "a2 a2";
  }

  .navseccion.icono a{
    font-size: x-large;
    margin-top: 2%;
  }

  .navseccion.icono img {
    height: 20vw;
    width: auto;
  }

  .navseccion.buscador{
    width: auto;
    border-radius: 8px;
    grid-area: a2;
    padding: 0% 2% 3% 2%;
    position:-webkit-sticky; 
    position:sticky; 
    top:0;
  }

  .no-visible-menu {
    display: none !important;
  }

  .resultados-buscador div {
    display: auto;
    width: 100vw;
  }

  .toggle-menu {
    display: flex;
    flex: 1 100%;
    background: #c9daf4;
  }

  .menus{
    display: initial;
  }

  .toggle-menu-hamburger {
    visibility: visible;
    padding: 3% 4%;
    color: #000000;
  }

  .seccion-menu {
    display: flex;
    width: auto;
    flex: 1 100%;
    border-radius: 2px 2px;
  }

  .seccion-menu svg{
    padding: 4% 2% 2% 2%;
  }

}
#app{
  color: black;
  margin: auto;
  display: flex;
  /* align-content: stretch; */
  flex-flow: row wrap;
  margin-left: auto;
  margin-right:auto;
  height: auto;
  width: auto;
}

.nav-principal{
  background-color: rgba(100, 152, 232, 1);
  width: auto;
  1: 10%;
  /* margin-bottom: 2%; */
  display: grid;

  /* Sacar el webkit. usar solo center */
  text-align: -webkit-center;
  position: relative;
  flex: 1 100%;
}

.navseccion{
  display: inline-block;
}

.navseccion.icono{
  width: inherit;
  text-align: left;
}



.navseccion.buscador input[type="text"] {
  font-family: 'Pridi', serif;
}

.navseccion.buscador input{
  width: 100%;
  font-size: 1em;
  /* height: 100%; */
  border-radius: 5px 5px;
}

.navseccion.autenticacion{
  width: auto;
  text-align: right;
  padding-left: 1em;
  list-style: none;
  font-size: larger;
  grid-area: a3;
  }

  .navseccion.autenticacion ul{
    padding: 0%;
  }

.resultados-buscador{
  width: 40.5%;
  left: 30%;
  text-align: left;
  list-style-position: inside;
  background: darkgrey;
  margin-top: 0%;
  margin-bottom: 0%;
  position: absolute;
  list-style: none;
  padding: 0%;
  z-index: 1;
}

.resultados-buscador li img{
/*   width: 90px; */
  display: none;
  height: 240px;
  border-radius: 5px 5px;
  border: 2px solid white;
}

li.item-resultado:hover img{
  display: block;
}


li.item-resultado:hover p{
  display: block;
}

li.item-resultado:hover h4{
  border: 2px solid #000000;
}


li.item-resultado:hover {
  background-color: #96ff7f;
  border-radius: 5px 5px;
  border: 2px solid black;
}

.resultados-buscador div {
  width: 400px;
  display: table-column;
}

.resultados-buscador li p{
  display:none;
  padding: 8% 2%;
  margin: 2% 1%;
  color: #4f4b4b;
  border: 2px dashed #989898;
  border-radius: 5px 5px;
}

.resultados-buscador li h4{
  padding: 2%;
  margin: 1% 1%;
  color: black;
  display: block;
  border-radius: 5px 5px;
}

.item-resultado{
  display: flex;
  background: #bbbbbb;
  border: 1px solid white;
  border-radius: 5px 5px;
}

.opciones-login{
    background-color:  darkgrey;
    list-style-position: inside;
    margin-top: 0px;
    position: absolute;
    right: 3%;
    padding: 0%;
}

.opciones-login > li{
  list-style: none;
  background-color:rgba(120, 172, 252);
  padding-left: 40%;
  width: 60px;
  padding-left: 8px;
  border: solid 1px black;
}

.opciones-login > li > a{
  text-decoration: none;
}


.opciones-guest{ /* opciones para el usuario que no esta logeado*/
    list-style-position: inside;
    margin-top: 0px;
    margin-right: 10px;
    list-style: none;
    display: inline-block;
/*     right: 3%; */
}

.resultado{
  background-color: none;
  width: 30%;
  display: flex;
  float: right;
}


.menus{
  background-color: rgb(201, 218, 244);
  flex: 1 100%;
  width: auto;
  flex-wrap: nowrap;
  height: 20;
  /* position: static; */
}


    .seccion-menu .submenu{
      background-color: rgba(120, 172, 252);
      border-radius: 2px 2px;
      list-style: none;
      position: absolute;
      z-index: 2;
      margin: 0%;
      margin-top: 10px;
      padding: 0%;
    }
          .submenu li{
            margin: 0%;
            padding: 10px 5px;
            width: 150px;
          }

          .submenu li:hover{
            color: black;
            background-color: white;
          }
          .submenu li:hover a::before{
            content: "# ";
          }

.seccion-menu:hover{
  background-color: white;
}

.seccion-menu:hover > a::before{
  content: "# ";
}

ul.resultados-buscador a {
    text-decoration: none;
}

.resultados-buscador li{
  width: 100%;
}

.seccion-menu a{
  color: black;
  text-decoration: none;
  vertical-align: middle;
  padding-top: 2%;
}

.navseccion.icono{
  display: flex;
  grid-area: a1;
}

.navseccion.icono a{
  color: black;
  text-decoration: none;
}


img.logo-st {
  width: 60px;
  height: 50px;
  margin: 2% 2%;
  overflow:visible;
  border-radius: 10px 10px;
}
