/* para personalizar las scroll bar  */
/* ::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
} */
/* ---  */

@import url(https://fonts.googleapis.com/css?family=Nunito);

.no-visible{
  display: none;
}

.boton-opciones-login {
  border-radius: 5px;
  border: 2px solid rgba(0, 0, 0, 0.25);
  background-color: rgba(0, 0, 0, 0.12);
}

body {
/*   display: contents; */
  background-color: #fbe3c3;
  font-family: 'Pridi', serif;
  margin: auto;
  width: auto;
}

#content {
  flex: 1 90%;
}


/* body {
  font-size: medium;
} */
<<<<<<< HEAD

=======
@media (min-width: 700px) {

  .navseccion.autenticacion > ul{
    padding: 0%;
    margin-left: auto;
    margin-right: 19%;
  }

  .navseccion.autenticacion > li{
    padding: 0%;
    margin-left: auto;
    margin-right: 4%;
  }


  .navseccion.buscador{
    width: auto;
    border-radius: 8px;
    /* margin-top: 3%; */
    grid-area: a2;
    padding-top: 1%;
  }

  .navseccion.icono a{
    padding-top: 1%;
    font-size: x-large;
    white-space: wrap;
  }

  .navseccion.icono img {
    width: auto;
  }

  body {font-size: large;}

  .nav-principal{
      grid-template-columns: 30% 1fr 30%;
      grid-template-areas: "a1 a2 a3";
      grid-template-rows: 1fr;
      /* height: 40px; */
      /*       position: sticky; */
      /*       top: 0; */
      /*       z-index: 10; */
  }

  .menus{
    display: grid;
    grid-template-columns: repeat(5, 1fr) 20%;
    width: 100vw;
  }

  .toggle-menu-hamburger {
    display: none;
   }

  .toggle-menu {
    display: inline-block;
    flex: 1 100%;
    background: #000000;
    width: auto;
  }

  .seccion-menu{
    height: 30px;
    /* min-width: 150px; */
    width: auto;
    /* color: black; */
    ck; */
    text-align: center;
    padding-top: 0.5%;
    border-color: grey;
    padding: 2%;
    border-radius: 2px 2px;
    /* display: flex; */
  }

  .seccion-menu path{
    padding: 2%;
  }

  .seccion-menu .submenu{
      /* width: 200px; */
      margin: 0.5% 0%;
    }

  .opciones-login{
    width: 9%;
    border-radius: 10px;
  }


  .resultados-buscador{
     width: 39%;
  }

  .header-menu-mvj{
    position:sticky;
    top:0;
    z-index: 10;
    width: 100vw;
  }

  .seccion-menu .submenu{
    padding: 0%;
  }

  .navseccion.autenticacion{
    display: flex;
    font-size: 20px;
  }

  .opciones-guest{
    display: flex;
    right: 0px;
  }

  .opciones-guest li{
    margin-left: 25%;
    min-width: fit-content;
  }

}


@media (min-width: 1000px) {
    .opciones-guest li{
    margin-left: 17%;
    min-width: fit-content;
  }

}

@media screen and (max-width: 700px) {

  body {font-size: larger;}

  .seccion-menu{
    width: 100%;
  }

  .nav-principal{
    grid-template-rows: 1fr 30%;
    grid-template-columns: 1fr 50%;
    grid-template-areas: "a1 a3"
                         "a2 a2";
    /*     position:-webkit-sticky;
    position:sticky;
    top:0;
    z-index: 10; */
  }

  .navseccion.icono a{
    font-size: x-large;
    margin-top: 2%;
  }

  .navseccion.icono img {
    height: 20vw;
    width: auto;
  }

  .navseccion.buscador{
    width: auto;
    border-radius: 8px;
    grid-area: a2;
    padding: 0% 1% 2% 1%;
    display: flex;
  }

  .no-visible-menu {
    display: none !important;
  }

  .resultados-buscador div {
    display: auto;
    width: 100vw;
  }

  .toggle-menu {
    display: flex;
    flex: 1 100%;
    background: #6498e8;
    z-index: 9;
/*     top: 19%; */
/*     position: sticky; */
  }

  .menus{
    display: initial;
  }

  .toggle-menu-hamburger {
    visibility: visible;
    padding: 0% 3%;
    margin: auto;
    color: #000000;
  }

  .seccion-menu {
    /* display: flex; */
    /* width: auto; */
    flex: 1 100%;
    border-radius: 2px 2px;
    padding: 2% 0%;
  }

  .seccion-menu svg{
    padding: 1% 3%;
  }


  .seccion-menu .submenu{
     /* flex: 1 100%; */
     margin: 0%;
     padding: 0% 2%;
  }
  .seccion-menu .novedades a {
    flex: 1 100%;
  }

  .submenu {
    width: 100vw;
    /*     display: flex; */
    /* position:absolute; */
    /* padding: 10%; */
  }
  .submenu li{
    flex: 1 100%;
    flex-flow: row wrap;
    align-items: stretch;
  }
  .opciones-login{
    width: 30%;
  }

  .login-btn-cnt {
  }


  .resultados-buscador{
    margin-top: 10%;
  }

  .header-menu-mvj{
    position: sticky;
    top: 0;
    z-index: 100;
    padding-top: 0%;
    width: 100vw;
    /* align-items: stretch; */
  }

  .seccion-menu .submenu{
    width: auto;
    margin-left: 15%;
    padding: 0%;
    margin-top: 2%;
  }

  .opciones-guest{ 
    display: block;
  }


}
>>>>>>> master

#app{
  color: black;
  margin: auto;
  display: flex;
  /* align-content: stretch; */
  flex-flow: row wrap;
  margin-left: auto;
  margin-right:auto;
  height: auto;
  width: auto;
  /* flex: 1 100%; */
  background-color: #CBD5B7;
}

.nav-principal{
<<<<<<< HEAD
  background-color: #0CE87E;
=======
  background-color: #9acd32;
>>>>>>> master
  width: auto;
  /* margin-bottom: 2%; */
  display: grid;

  /* Sacar el webkit. usar solo center */
  /*   text-align: -webkit-center; */
  /* position: sticky; */
  flex: 1 100%;
  /* top: 0; */
}

.login-item {
  text-decoration: none;
  color: black;
}

.fontAwesome {
  font-family: 'Pridi', 'FontAwesome', sans-serif;
}

.navseccion{
  display: inline-block;
}

.navseccion.icono{
  width: inherit;
  text-align: left;
}



.navseccion.buscador input[type="text"] {
  font-family: 'Pridi', serif;
}

.navseccion.buscador input{
  width: 100%;
  font-size: 1em;
  /* height: 100%; */
  border-radius: 5px 5px;
}

.navseccion.autenticacion a{ 
  text-decoration: none;
}

.navseccion.autenticacion{
  width: 100%;
  text-align: right;
  list-style: none;
  margin-top: 2%;
  font-size: 1.1em;
  grid-area: a3;
  height: 9px;
  }


.resultados-buscador{
  text-align: left;
  list-style-position: inside;
  background: darkgrey;
  margin-bottom: 0%;
  position: absolute;
  list-style: none;
  padding: 0%;
  z-index: 1;
}

.resultados-buscador li img{
/*   width: 90px; */
  display: none;
  height: 240px;
  border-radius: 5px 5px;
  border: 2px solid white;
}

li.item-resultado:hover img{
  display: block;
}


li.item-resultado:hover p{
  display: block;
}

li.item-resultado:hover h4{
  border: 2px solid #000000;
}


li.item-resultado:hover {
  background-color: #96ff7f;
  border-radius: 5px 5px;
  border: 2px solid black;
}

.resultados-buscador div {
  width: auto;
  display: table-column;
}

.resultados-buscador li p{
  display:none;
  padding: 8% 2%;
  margin: 2% 1%;
  color: #4f4b4b;
  border: 2px dashed #989898;
  border-radius: 5px 5px;
}

.resultados-buscador li h4{
  padding: 2px 0px 2px 10px;
  margin: 1% 0%;
  color: black;
  display: block;
  border-radius: 5px 5px;
}

.item-resultado{
  display: flex;
  background: #bbbbbb;
  border: 1px solid white;
  border-radius: 5px 5px;
}

.opciones-login{
    background-color: yellowgreen;
    list-style-position: inside;
    /* color: white; */
    margin-top: 0px;
    position: absolute;
    right: 1%;
    border-radius: 10px;
    padding: 0%;
}

.opciones-login > li{
  list-style: none;
  /* background-color: #9ACD32; */
  padding-left: 0%;
  width: 60px;
  /* padding-left: 8px; */
  /* border: solid 1px black; */
  padding: 10% 15%;
  /* margin-left: 0px; */
}

.opciones-login > li > a{
  text-decoration: none;
  /* margin-left: 0px; */
}


.opciones-guest{ /* opciones para el usuario que no esta logeado*/
    list-style-position: inside;
    margin-top: 0px;
    list-style: none;
}

.resultado{
  background-color: none;
  width: 30%;
  display: flex;
  float: right;
}


.menus{
<<<<<<< HEAD
  background-color: black;
=======
  background-color: rgb(0, 0, 0);
>>>>>>> master
  flex: 1 100%;
  flex-wrap: nowrap;
  height: 20;
  position: static;
  color: white;
}


.seccion-menu .submenu{
  background-color: black;
  border-radius: 2px 2px;
  list-style: none;
  z-index: 9;
}

.submenu li{
  margin: 0%;
  /* padding: 10px 5px; */
  border-radius: 2px;
  width: 100%;
  flex: 1 100%;
  color: white;

}

          .submenu li:hover{
            color: black;
            background-color: #CBD5B7;
            border: solid 1px black;
          }
          .submenu li:hover > a{
            color: black;
          }

.seccion-menu:hover{
  background-color: #CBD5B7;
  color: black;
  border: solid 1px black;
}
.seccion-menu:hover > a{
  color: black;
}

ul.resultados-buscador a {
    text-decoration: none;
}

.resultados-buscador li{
  width: auto;
}

.seccion-menu a{
  color: white;
  text-decoration: none;
  vertical-align: middle;
}

.navseccion.icono{
  display: flex;
  grid-area: a1;
}

.navseccion.icono a{
  color: black;
  text-decoration: none;
}


img.logo-st {
  /* width: 60px; */
  height: 40px;
  margin: 1%;
  n: 2% 2%;
  overflow:visible;
  border-radius: 10px 10px;
}


  .login-card{
  width: 9;
  }

  .login-card  div{
  }

.login-btn-cnt {
  }

  .login-btn-cnt * {
    flex: 1 60%;
  }


  .login-card input {
    border-radius: 50px;
  }

  footer{
    background-color: blue;
    display: block;
    width: 100%;
  }


  a:link{
    text-decoration: none;
  }

/*--------------------------------------------------------------------------------------------*/
/*---------------------- MOBILE -------------------------------------------------------------*/
/*------------------------------------------------------------------------------------------*/

  @media screen and (max-width: 700px) {

    body {font-size: larger;}

    .seccion-menu{
      width: 100%;
    }

    .nav-principal{
      grid-template-rows: 1fr 30%;
      grid-template-columns: 1fr 50%;
      grid-template-areas: "a1 a3"
                           "a2 a2";
      /*     position:-webkit-sticky;
      position:sticky;
      top:0;
      z-index: 10; */
    }

    .navseccion.icono a{
      font-size: x-large;
      margin-top: 2%;
    }

    .navseccion.icono img {
      height: 20vw;
      width: auto;
    }

    .navseccion.buscador{
      width: auto;
      border-radius: 8px;
      grid-area: a2;
      padding: 0% 1% 2% 1%;
      display: flex;
    }

    .no-visible-menu {
      display: none !important;
    }

    .resultados-buscador div {
      display: auto;
      width: 100vw;
    }

    .toggle-menu {
      display: flex;
      flex: 1 100%;
      background: #6498e8;
      z-index: 9;
  /*     top: 19%; */
  /*     position: sticky; */
    }

    .menus{
      display: initial;
    }

    .toggle-menu-hamburger {
      visibility: visible;
      padding: 0% 3%;
      margin: auto;
      color: #000000;
    }

    .seccion-menu {
      /* display: flex; */
      /* width: auto; */
      flex: 1 100%;
      border-radius: 2px 2px;
      padding: 2% 0%;
    }

    .seccion-menu svg{
      padding: 1% 3%;
    }


    .seccion-menu .submenu{
       /* flex: 1 100%; */
       margin: 0%;
       padding: 0% 2%;
    }
    .seccion-menu .novedades a {
      flex: 1 100%;
    }

    .submenu {
      width: 100vw;
      /*     display: flex; */
      /* position:absolute; */
      /* padding: 10%; */
    }
    .submenu li{
      flex: 1 100%;
      flex-flow: row wrap;
      align-items: stretch;
    }
    .opciones-login{
      width: 30%;
    }

    .login-btn-cnt {
    }


    .resultados-buscador{
      margin-top: 10%;
    }

    .header-menu-mvj{
      position: sticky;
      top: 0;
      z-index: 100;
      padding-top: 0%;
      width: 100vw;
      /* align-items: stretch; */
    }

    .seccion-menu .submenu{
      width: auto;
      margin-left: 15%;
      padding: 0%;
      margin-top: 2%;
    }

  }


  @media (min-width: 700px) {

    .navseccion.buscador{
      width: auto;
      border-radius: 8px;
      /* margin-top: 3%; */
      grid-area: a2;
      padding-top: 1%;
    }

    .navseccion.icono a{
      padding-top: 1%;
      font-size: x-large;
      white-space: wrap;
    }

    .navseccion.icono img {
      width: auto;
    }

    body {font-size: large;}

    .nav-principal{
        grid-template-columns: 30% 1fr 30%;
        grid-template-areas: "a1 a2 a3";
        grid-template-rows: 1fr;
        /* height: 40px; */
        /*       position: sticky; */
        /*       top: 0; */
        /*       z-index: 10; */
    }

    .menus{
      display: grid;
      grid-template-columns: repeat(5, 1fr) 20%;
      width: 100vw;
    }

    .toggle-menu-hamburger {
      display: none;
     }

    .toggle-menu {
      display: inline-block;
      flex: 1 100%;
      background: #c9daf4;
      width: auto;
    }

    .seccion-menu{
      height: 30px;
      /* min-width: 150px; */
      width: auto;
      color: white;
      text-align: center;
      padding-top: 0.5%;
      border-color: grey;
      padding: 2%;
      border-radius: 2px 2px;
      /* display: flex; */
    }

    .seccion-menu path{
      padding: 2%;
    }

    .seccion-menu .submenu{
        /* width: 200px; */
        margin: 0.5% 0%;
      }

    .opciones-login{
      width: 6%;
    }


    .resultados-buscador{
       width: 39%;
    }

    .header-menu-mvj{
      position:sticky;
      top:0;
      z-index: 10;
      width: 100vw;
    }

    .seccion-menu .submenu{
      padding: 0%;
    }

  }
