
:root {
  --menu-principal:yellowgreen;
  --fondo:#CBD5B7;
  --sector:yellowgreen;
  --font-family: 'Pridi', 'Serif';
  --font-size: larger;
  --border-radius: 5px;
}


@import url(https://fonts.googleapis.com/css?family=Nunito);

/* Usado solo para los iconos */
.fontAwesome {
    font-family: 'Pridi', 'FontAwesome', sans-serif;
}

.no-visible{
    display: none;
}

#app{
    color: black;
    margin: auto;
    display: flex;
    flex-flow: row wrap;
    margin-left: auto;
    margin-right:auto;
    height: auto;
    width: auto;
    background-color: var(--fondo);
}

body {
    background-color: var(--fondo);
    font-family: var(--font-family);
    font-size: var(--font-size);
    margin: auto;
    width: auto;
}

#content {
    flex: 1 90%;
}

.header-menu-mvj {
    width: 100%;
}

nav a {
    text-decoration: none;
}

.nav-principal {
    display: grid;
    grid-template-columns: auto;
    grid-template-areas: "a1 a3" "a2 a2";
    background-color:var(--menu-principal);
}


.navseccion.icono {
    display: flex;
    margin: auto 0;
}

.navseccion.icono a {
    font-size: x-large;
    color: black;
    text-decoration: none;
    min-width: 6em;
    margin: auto 0;   /* Lo centro verticalmente */
}

.navseccion.icono img {
    height: 35px;
    margin: 0.5em;
    border-radius: var(--border-radius);
}


.navseccion.buscador {
    display: flex;
    width: auto;
    border-radius: 8px;
    grid-area: a2;
    padding: 0 0.5em 0.5em 0.5em;
}

  .navseccion.buscador input {
    font-family: 'Pridi', 'FontAwesome', sans-serif; /* Para que tome el logo de la lupa de font awesome */
    font-size: 1em;
    border-radius: var(--border-radius);
    width: 100%;

    /* A dif del width: 100%, estos SI tienen en cuenta el border+padding */
    width: -moz-available;
    width: -webkit-fill-available;
    width: fill-available;
}


.navseccion.autenticacion {
    grid-area: a3;
    margin: auto 0;    /* Centro los elementos verticalmente */
    text-align: right;
    padding-right: 0.5em;
}

.navseccion.autenticacion > ul {
    margin: 0;
    padding: 0;
    list-style: none;
    z-index: 1;     /* Para que las opciones del perfil se vean por encima del nav */
}

.navseccion.autenticacion a {
    text-decoration: none;
    color: black;
}

.boton-opciones-login {
    cursor: pointer;
    border-radius: 5px;
    border: 2px solid rgba(0, 0, 0, 0.25);
    background-color: rgba(0, 0, 0, 0.12);
}


.toggle-menu a, .toggle-menu span {
    color: white;
    text-align: center;
    cursor: pointer;

    /* Hago que el anchor sea clickeable en todo el div */
    display: block;
    width: 100%;
}

.no-visible-menu {
    display: none;
}

.menus{
    color: white;
}

.toggle-menu {
    background: #000000;
}

  .seccion-menu {
    display: flex;
    flex-grow: 1;
    align-items: center;
    justify-content: center;
    position: relative;
    height: 30px;
    padding: 8px;
    border-radius: 2px 2px;
  }

.seccion-menu .submenu{
    position: absolute;
    z-index: 1;     /* Para que este por encima de las cards */
    margin: 0;
    padding: 0;
    background-color: black;
    border-radius: 2px 2px;
    list-style: none;
    flex-direction: column;
    top: 40px;
    width: 100%;
}

.toggle-menu-hamburger {
    padding: 0 0.5em 0 1em;
    margin: auto;
}


.seccion-menu .novedades a {
    flex: 1 100%;
}

div.seccion-menu.novedades:active > ul {
    display: flex !important;
}

.submenu li{
    padding: 0 1em;
    border-radius: 2px;
    color: white;
    display: flex;
    align-items: center;
}

.seccion-menu:hover,
.seccion-menu:hover > a,
.submenu li:hover,
.submenu li:hover > a {
    color: black;
    background-color: #CBD5B7;
}

  .opciones-guest {
      display: flex;
      justify-content: right;
      margin-top: 0px;
      list-style: none;
    }

    .opciones-guest li {
        min-width: fit-content;
    }

    .opciones-guest li:first-of-type {
        margin-right: 0.5em;
    }

    .opciones-guest a {
        text-decoration: none;
    }

    .opciones-guest a span {
        color: black;
        display: none;
    }

@media screen and (min-width: 320px) {
    .opciones-guest a span {
        display: inline;    /* Vuelve visible el label de login */
    }
}


.resultados-buscador{
    position: absolute;
    z-index: 2;
    background: darkgrey;
    width: 97%;
    padding: 0%;
    text-align: left;
    margin-top: 10%;
    margin-bottom: 0%;
    list-style: none;
    list-style-position: inside;
}

.resultados-buscador li img {
  display: none;
  height: 240px;
  border-radius: 5px 5px;
  border: 2px solid white;
}

li.item-resultado:hover img,
li.item-resultado:hover p {
    display: block;
}

li.item-resultado:hover h4{
  border: 2px solid #000000;
}

li.item-resultado:hover {
  background-color: #96ff7f;
  border-radius: 5px 5px;
  border: 2px solid black;
}


.resultados-buscador li p{
  display:none;
  padding: 8% 2%;
  margin: 2% 1%;
  color: #4f4b4b;
  border: 2px dashed #989898;
  border-radius: 5px 5px;
}

.resultados-buscador li h4{
  padding: 2px 0px 2px 10px;
  margin: 1% 0%;
  color: black;
  display: block;
  border-radius: 5px 5px;
}

.item-resultado{
  display: flex;
  background: #bbbbbb;
  border: 1px solid white;
  border-radius: 5px 5px;
}

.opciones-login{
    position: absolute;
    right: 0.5em;
}

.opciones-login > li{
    width: 6em;
    text-align: center;
    background-color: #CBD5B7;
    border: solid 1px black;
    border-radius: 4px;
}

.opciones-login a {
  text-decoration: none;
  color: black;
}


.loading-spin {
    position:fixed;
    width:100%;
    left:0;right:0;top:0;bottom:0;
    background-color: rgba(255,255,255,0.7);
    z-index:9999;
}

@-webkit-keyframes spin {
    from {-webkit-transform:rotate(0deg);}
    to {-webkit-transform:rotate(360deg);}
}

@keyframes spin {
    from {transform:rotate(0deg);}
    to {transform:rotate(360deg);}
}

.loading-spin::after {
    content:'';
    display:block;
    position:absolute;
    left:48%;top:40%;
    width:40px;height:40px;
    border-style:solid;
    border-color:black;
    border-top-color:transparent;
    border-width: 4px;
    border-radius:50%;
    -webkit-animation: spin .8s linear infinite;
    animation: spin .8s linear infinite;
}


@media (min-width: 700px) {

    body {font-size: large;}

    .nav-principal {
        grid-template-columns: 30% 1fr 30%;
        grid-template-areas: "a1 a2 a3";
        grid-template-rows: 1fr;
    }

    .navseccion.icono img {
        width: auto;
    }

    .navseccion.buscador {
        display: block;
        margin: auto 0px;
        padding: 0;
    }


    .menus{
        gap: 0 0.5em;
        flex-flow: wrap;
    }

    .no-visible-menu {
        display: flex;  /* Vuelve visible el menu */
    }

    .toggle-menu-hamburger {
        display: none;
    }

    .resultados-buscador{
        width: 39%;
        margin: 0;
    }

}
