.no-visible{
  display: none;
}

.opcion{
  display: none;
}

.opcion.elegida{
  display: inline-block;
}

.opciones-film .container .menu{
  background-color: blue;
}

.container .menu .item{
  background: none;
  border: solid black 3px;
  color: white;
  display: inline-block;
}

.acciones{
  width: 200px;
  margin-left: 5%;
  position: relative;
}

.opciones-film{
  display: flex;
  margin: 2% 1%;
}

.info-film {
  display: flex;
  margin-top: 5%;
}

.poster{
  width: 200px;
  height: 300px;
  float: left;
  margin-left: 5%;
}

div.detalles-pelicula ul{
  list-style: none;
  padding-left: 0px;
}

div.detalles-pelicula{
  margin-left: 5%;
  background: grey;
  border-radius: 5px 5px;
  padding: 1% 1% 1% 5%;
  margin-bottom: %;
}

.reviews-film-container{
  float:right;
  margin-left: 5%;
}

.opciones-film .container .menu .item:hover{
  background-color: violet;
  cursor: pointer;
}

.review-user{
display: block;
    border: solid 3px;
    margin-bottom: 5%;
}

.descripcion-review-user{
  background: lightblue;
  padding: 1%;
}

input.titulo-review {
  width: 200px;
}

.info-review-user{
  height: 400px;
}