
/*-------- HOME -------- */
.users-populares{
  width: 30%;
  display: inline;
  top: 0%;

}

.users-populares div, table{
    display: inline-block;
}

.users-populares h3{
  display: block;
  width: 100%;
}

.peliculas{
    display: inline-grid;
    grid-template-columns: repeat(4,auto);
    grid-template-rows: repeat(2,auto);
    margin: auto;
}

.series{
    display: inline-grid;
    grid-template-columns: repeat(4,auto);
    grid-template-rows: repeat(1,auto);
    margin: auto;
}

.films-populares{
  width: 70%;
  display: inline-block;
}

.cuadro-film{
  overflow: hidden;
}

.poster{
  display: inline-block;
  width: 200px;
  height: 300px;
}

.titulo-film{
  overflow: hidden;
}

/*------ ------ ------*/
