
/*-------- HOME -------- */
.users-populares{
  /* width: 22%; */
  display: block;
  top: 0%;
  /* float: right; */
}
/*
.users-populares div, table{
    display: inline-block;
}
*/

.content {
  display: flex;
  flex-direction: column;
  width: 100vw;
  flex: auto;
}

@media screen and (min-width: 700px) {
  .content {
      display: grid;
      grid-template-columns: 200px 1fr 320px;
      /* height: 100vh; */
      grid-template-areas: "sidemenu movies ranking";
      /* width: 100%; */
      margin-top: 1%;
  }

  .generos-container{
    margin: 2% 2% 2% 2%;
    width: auto;
    height: 600px;
    background-color: #e4d1b7;
  }

  .icon-angle {
    display: none;
  }

  .generos {
    margin: 2% 2% 2% 2%;
    width: auto;
    height: 600px;
    background-color: #e4d1b7;
  }

  .generos li{
    list-style: none;
    padding: 5px 10px 0px 10px;
    height: 5%;
    width: auto;
    /* margin: 0px 0px; */
    border-radius: 5px 5px;
  }

  .flip-card-inner {
    position: relative;
    width: 200px;
    height: 300px;
  }

  .puntuacion {
       left: 155px;
       top: 240px;
    }

  .flip-card {
    padding: 1%;
    margin: 2.5% 2%;
  }
}

@media screen and (max-width: 700px) {
  .generos, .ultimas-reviews-container, .ranking-tabla  {
    width: auto;
  }

  .generos-container {
    margin: 0%;
    display: flex;
    flex-wrap: nowrap;
  }

  .generos {
    margin: 0%;
    display: flex;
    flex-wrap: nowrap;
  }

  .generos li {
    list-style: none;
    padding: 1% 1%;
    margin: 0% 1%;
    border-style: initial;
    border: 1px solid #5e5b5b;
    /* height: 5%; */
    width: auto;
    border-radius: 5px 5px;
    background-color: #ffca84;
   }

   .generos li p{
     text-align:justify;
     white-space: nowrap;
   }

   .icon-angle {
     margin: 8% 2%;
     /* vertical-align: middle; */
   }

   .peliculas {

   }

   .generos {
     width: auto;
     overflow-y: hidden;
   }

   .flip-card-inner {
      width: 100vw;
      height: 80vh;

   }

   .puntuacion {
     left: 310px;
     top: 440px;
   }

   .flip-card {
     padding: 1% 0%;
     margin: 0%;
     overflow-y: hidden;
   }
}

.ranking-tabla{/* margin-top: 15px; */margin: 2%;/* padding-left: 5px; *//* padding-right: 65px; */padding: 2%;border-radius: 5px 5px;/* border: solid 1px white; */width: auto;background: #e4d1b7;grid-area: ranking;}

.ranking-tabla h3{
  text-align: center;
  margin-top: 0;
}

thead{
  padding: 0px 0px;
  margin: 0px;
  text-align: left;
  text-transform: uppercase;
}

td, th {
  padding: 0px 5px;
}

.ultimas-reviews-container p {
  color: #7f7272;

}

.ultimas-reviews-container{
  margin: 2%;
  border-radius: 5px 5px;
  /* border: 1px solid white; */
  background: #e4dea1;
  width: auto;
  list-style:none;
  height: 560px;
  padding: 2% 5%;
  overflow: scroll;
  scroll-snap-type:;
  perspective: 1000px;
}

.ultimas-reviews-container::-webkit-scrollbar {
    display: none;
}

div.comment{
  margin: -15% 2% 2% 2%;
}

.comment-inner {
   background: white;
   padding: 2% 2%;
   border-radius: 10px 0px 10px 10px;
   /* perspective: 1000px; */
}

.comment:before {
    content: "";
    border-style: solid;
    display: block;
    border-width: 30px 30px 0px 0px;
    border-color: #27040400 #ffffff;
    background-color:#e4dea1;
}

.generos{
  margin: 5% 0%;
  border-radius: 5px 5px;
  /* background: bisque; */
  /* height: 600px; */
  padding: 0px;
  px; */
  display: flex;
  align-content: stretch;
  justify-content: stretch;
  /* grid-area: sidemenu; */
  overflow: scroll;
}

ul.generos li:hover p::before{
  content: "# ";
}

.generos li p{
  margin: 2%;
  display: inline;
}

.generos li:hover{
  background-color: #3140B8;
  color: white;
  cursor: pointer;
}


.films-populares h3{
  /* padding: 1% 5%; */
  margin: 1% 1%;
}

.peliculas{
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(200px, 1fr));
    /* margin: 1% 0%; */
    overflow-x: auto;
    overflow-y: hidden;
}

.peliculas-genero{
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(220px, 2fr));
}

.container-peliculas-populares{
  margin: auto;
  width: auto;
  overflow: scroll;
  overflow-x:hidden;
}


.series{
    display: inline-grid;
    grid-template-columns: repeat(4,auto);
    grid-template-rows: repeat(1,auto);
    margin: auto;
}

.films-populares{
  width: auto;
  display: inline-block;
  position: relative;
  /* margin: auto !important; */
  /* background: #6498e8; */
  grid-area: movies;
  /* flex-flow: column wrap; */
}

.films-populares h3{
  padding: auto;
  width: auto;
}

.titulo-film{
  background: black;
  color: rgb(255, 255, 255);
}

.cuadro-film{
  /* width: 150px; */
  /* height: 300px; */
  /* margin: 2% 2%; */
}

.poster{
  display: inline-block;
  width: 100%;
  height: 100%;
}

.puntuacion {
       float: right;
       position: fixed;
       z-index: 1000;
       padding: 5px;
       color: #FFFFFF;
       font-weight: bold;
       border-radius: 5px 5px;
       border: white 1px solid;
       backface-visibility: hidden;
    }

.puntuacion-mala {
  background-color: red;
  backface-visibility: hidden;
}

.puntuacion-buena {
  background-color: #FFD147;
  backface-visibility: hidden;
}

.puntuacion-muy-buena {
  background-color: #3bae06;
  backface-visibility: hidden;
}


/* .titulo-film{
  overflow: hidden;
} */


.flip-card {
  background-color: transparent;
  width: auto;
  height: auto;
  perspective: 1000px;
  position: relative;
}

.flip-card-inner {
  position: relative;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

.flip-card-front {
  background-color: #bbb;
  color: black;
  overflow-y: hidden;
}

.flip-card-back {
  background-color: #bbb;
  color: black;
  transform: rotateY(180deg);
}

/*------ ------ ------*/
