/*----------------- Welcome card -----------------*/

.welcome-card{
  display: inline-block;
  background-color: white;
  border-radius: 0px 12px 12px 0px;
  border: 2px solid black;
  display: inline-block;
  /* flex: 1 100%; */
  width: 50%;
  height: 70%;
  position: absolute;
  top: 20%;
  left: 35%;
  text-align: center;
  overflow: hidden;
}
.welcome-card ul{
  text-align: left;
  margin-left: 10%;
}

/*----------------- Welcome card -----------------*/
/*-----------------* Login card ------------------*/

.login-card{
  background-color: #A7B3FA;
  border-radius: 12px 0px 0px 12px;
  border: 2px solid black;
  display: inline-block;
  position: absolute;
  flex: 1 100%;
  top: 20%;
  left: 10%;
  width: 25%;
  height: 70%;
  align-items: stretch;
  flex-flow: row wrap;
  justify-content: space-around;
  text-align: center;
}

/*.login-card-body{
  width: 70%
}*/

.login-card div{
  padding: 2% 1%;
  /*height: auto;*/
  /* flex: 1 100%; */
  /* display: flex; */
  text-align: center;
/*  padding-right: 3%;*/
/*  align-items: flex-end;*/
/*  align-content: start;*/
}

.field{
}
.field label{
  margin-left: 5%;
}
input[id="username"]{
  width: 80%;
  height: 4vh;
}
input[id="password"]{
  width: 80%;
  height: 4vh;
}


.login-card-header {
  background: black;
    color: white;
    border-radius: 11px 0px 0px 0px;
    text-align: -webkit-center;
}
.login-btn-cnt{
    margin: 0;
    list-style: none;
    display: -webkit-flex;
    -webkit-flex-flow: row wrap;

}

.btn-mvj{
  padding: 1% 1%;
  border-radius: 50px 50px;
  display: inline-block;
  margin-bottom: 5%;
}
    .btn-mvj.login{
      background-color:#9acd32;
      color: white;
      width: 60%;
      height: 5vh;
      margin-right: 12%;
      margin-left: 12%;
    }
    .btn-mvj.register{
      background-color:#3270cd;
      color: white;
      width: 30%;
      height: 7vh;
    }

.register-link-desktop{
  text-align: center;
}
.register-link-mobile{
  display: none
}

/*----------------------------------------------------*/
/*--------------------- MOBILE ---------------------*/
/*------------------------------------------------*/

@media screen and (max-width: 700px) {

  .welcome-card{
    display: none;
  }

  .login-card{
    border-radius: 15px;
    border: 2px solid black;
    display: block;
    flex: 1 100%;
    left: 0%;
    margin: 5%;
    width: 90%;
    height: 75%;
  }

  .login-card-header {
      border-bottom: solid 1px black;
      border-radius: 12px 12px 0px 0px;
  }

    .login-card div {
      padding: 2% 1%;
    }

    .login-btn-cnt {
      display: block;
      text-align: center;
    }

    input[id="username"]{
      width: 100%;
      height: 5vh;
    }
    input[id="password"]{
      width: 100%;
      height: 5vh;
    }

    .form-check{
      text-align: center;
    }

    .form-check input{
width: 20px;
height: 20px;
margin: 0%;
    }

    .btn-mvj.login{
      margin: 0%;
      height: 7vh;
      width: 70vw;

    }
    .btn-mvj.register{
      height: 7vh;
      width: 50vw;
    }

    .register-link-mobile{
      display: inline-block;
    }

}
