
a:link{
  text-decoration: none;
}

@media screen and (min-width: 700px) {
  .rank{
    margin: 0% 10%;
  }

}

@media screen and (max-width: 700px) {
  .category {
    display: none;
  }

  .rank{
    margin: 0% 10%;
  }
}

@media screen and (max-width: 550px) {
  .date {
    display: none;
  }
}


@media screen and (max-width: 450px) {
  .pais {
    display: none;
  }
}



#content {
     margin-top: 0%;
 }

.rank{
    padding-top: 2%;
    padding-bottom: 2%;
    text-align: center;
    background-color: #e0e0e0;
}

.table-rank{

  background: #CBD5B7;
  border-collapse: collapse;
  border-radius: 5px 5px;
  border: solid 1px white;
  margin-left: 2%;
  margin-right: 2%;
  padding: 5px 5px;
  text-align: left;
  width: 96%;

}

.poster{
  width: 30px;
  height: 50px;
  /*! display: inline; */
  vertical-align: middle;
}


thead{
  padding: 0px 0px;
  margin: 0px;
  text-align: left;
  text-transform: uppercase;
    background: var(--menu-principal);
}

td, th {
  padding: 5px 5px;
  margin: 0px;
  width: auto;
  border-bottom: solid 1px white;
}


.link-film{
  text-decoration: none;
}

.link-film div{
  display: inline-block;
  margin: 0%;
}

h2{
  margin-top: 0%;
  margin-bottom: 1%;
}

.position{
  border-right: solid 1px white;
  text-align: center;
  width: 30px;
}

.filmname{
  width: 40%;
}
.category{

}
.date{

}
