.tabla{
  padding: 3%;
  border-radius: 5px 5px;
  border: solid 1px;
  margin: auto;
  width: 800px;
}


section.rank {
    padding: 1% 2%;
    margin: 1% 15%;
}

#content {
    padding: 1% 2%;
    margin: 1% 15%;
}
