#content {
     margin-top: 0%;
 }

.rank{
    margin-left: 10%;
    margin-right: 10%;
    padding-top: 2%;
    padding-bottom: 2%;
    text-align: center;
    background-color: #e0e0e0;
}

.table-rank{

  background: bisque;
  border-collapse: collapse;
  border-radius: 5px 5px;
  border: solid 1px white;
  margin-left: 2%;
  margin-right: 2%;
  padding: 5px 5px;
  text-align: left;
  width: 96%;

}

.poster{
  width: 30px;
  height: 50px;
  /*! display: inline; */
  vertical-align: middle;
}


thead{
  padding: 0px 0px;
  margin: 0px;
  text-align: left;
  text-transform: uppercase;
}

td, th {
  padding: 5px 5px;
  margin: 0px;
  width: auto;
  border-bottom: solid 1px white;
}


.link-film{
  text-decoration: none;
}

.link-film div{
  display: inline-block;
  margin: 0%;
}

h2{
  margin-top: 0%;
  margin-bottom: 1%;
}

.position{
  border-right: solid 1px white;
  text-align: center;
  width: 30px;
}

.filmname{
  width: 40%;
}
.category{

}
.date{

}
