
@media screen and (min-width: 700px) {
  .rank{
    margin: 0% 10%;
  }

}

@media screen and (max-width: 700px) {
  .desde {
    display: none;
  }

  .rank{
    margin: 0% 5%;
  }
}


@media screen and (max-width: 550px) {
  .rango {
    display: none;
  }
}

@media screen and (max-width: 380px) {
  .reviews-cant {
    display: none;
  }

}

#content {
  margin-top: 0%;
}

.rank{
    padding-top: 2%;
    padding-bottom: 2%;
    text-align: center;
    background-color: #e0e0e0;
}

.table-rank{
  /* padding: 5px 5px; */
  border-radius: 5px 5px;
  border: solid 1px white;
  border-collapse: collapse;
   background-color: #CBD5B7;
  overflow: scroll;
  margin-left: 2%;
  margin-right: 2%;
  padding: 2%;
  text-align: left;
  width: 96%;
}

thead{
  padding: 2%;
  margin: 0px;
  text-align: left;
  text-transform: uppercase;
    background: var(--menu-principal);
}

td, th {
  padding: 0%;
  margin: 0px;
  width: auto;
  border-bottom: solid 1px white;
}

h2{
  margin-top: 0%;
  margin-bottom: 1%;
}

.link-user{
  text-decoration: none;
}

.user-position{

  height: 40px;
}

.position{
  border-right: solid 1px white;
  text-align: center;
  width: 30px;
}

.username{

padding-left: 2%;
}
